<html>

<head>
    <title>
        indexedDB-demo
    </title>
    <link rel="stylesheet" type="text/css" href="../view/styles.css">
    <script defer type="text/javascript" src="../script/index.js"></script>
</head>

<body>
    <!-- <form onsubmit="submitHandler(event)" target="_blank"> -->
        <!-- <div><label>DBName</label><input name="dbName" id="dbName" type="text"></div>
        <div><label>Version</label><input name="version" id="version" type="text"></div>
        <button type="submit" id='initiateDb'>Initiate IDB</button> -->
    <!-- </form> -->

    <!-- <button id='addRecords' onclick="addRecs()">addRecords</button> -->
    <!-- <button id></button>
    <button id></button>
    <button id></button>
    <button id></button>
    <button id></button>
    <button id></button>
    <button id></button>
    <button id></button> -->
</body>

</html>